<!--Title and title image-->
<emapp-page-title title='emappPageTitle'></emapp-page-title>

<!--About Emerald travel-->
<div class="container">
	<div class="panel panel-default">
		<div class='row'>
			<div class="col-md-10 col-md-offset-1">
				<div class="centred-p">
					<p>Emerald Travel Montserrat is a specialised tour operator offering a unique luxury holiday to the beautiful Caribbean island of Montserrat at an affordable price.</p> 
					<div class="col-md-8">
						<p>This is an extraordinary chance to explore and embrace the Culture, Adventure, Nature and History of the island, packed full of fun as you join locals and holiday makers to celebrate St Patricks day and the surrounding events.. You will be overwhelmed by the warmth of the island.
						</p>
					</div>
					<div class="col-md-4">
						<p class="snippet">
							hassle free travel and luxurious accommodation
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--About Emerald travel founder-->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div id='ro-container'>

				<img id='ro-img' src='assets/mont-ro.jpeg' alt='Founder of Emerald Travel'/>
			
				<p>"I’m Rochelle Lee, British born Montserratian descendant and founder of Emerald Travel MS. Having experienced St Patricks Day in the UK and the Caribbean, it is through seeing a week of events built up to one historic day that makes the experience one worth travelling for year after year.</p>

				<p>It was during the time I spent working on the island that I grew to appreciate all that the island has to offer and recognise the appeal for various types of people. </p>

				<p>With my passion, knowledge and experience of the Island we have tailor made a package holiday for the average holiday maker that wouldn’t know where to start and how best to explore the island.” 
				</p>
			</div>
		</div>
	</div>

	<!--About Emerald travel-->
	<div class="get-child">
		<div class="panel panel-default">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="centred-p">
						<div class="col-md-4">
							<p class="snippet">Emerald Travel Montserrat caters for all.
							</p>
						</div>
						<div class="col-md-8">
							<p>You can feel at ease travelling with us not only for the hassle free travel and luxurious accommodation but also for the variety of activities on offer to you so that you can fully embrace the Montserrat experience.</p>
						</div>

						<p>Whether your looking for a geographical nature excursion or a boozed up St Patricks celebratory trip, Emerald Travel Montserrat caters for all. We are well connected with residents on the island to offer you the best guides and all for the most affordable price.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Links to forms etc-->
<div instruction></div>


