<div class="container-fluid">
	<div class='row'>
		<div id='booking-background'>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8">

						<!--Box with toggle for forms-->
						<div id='booking-box'>
							<a href class='display-form' ng-click='showCalc()'>
								<div class='col-xs-6 col-md-6'>
									<div>
										<p class="form-toggle">Calculator</p>
										<p class="white">Use the calculator to get an idea of how much things are going to cost</p>
									</div>
								</div>
							</a>
							<a href class="display-form" ng-click='showForm()'>
								<div class='col-xs-6 col-md-6'>
									<div>
										<p class="form-toggle">Contact form</p>
										<p class='white'>Fill in our contact form and a member of our team will be in touch</p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

				<!--Forms-->
				<div id="calculator" class="animate" ng-show='visibleCalc'>
					<calculator></calculator>	
				</div>
				<div id="contact-form" class="animate" ng-show='visible'>
					<contact></contact>							
				</div>
				
				<!--Display message on completion of contact form-->
				<div class="row">
					<div class="col-md-8">
						<div ng-controller='ContactCtrl' class="contact-message animate" ng-show='message'>
                			<p>{{validation}}</p>
                			<a href=''><span ng-click='exit()' class="fa fa-times fa-lg"></span>
                			</a>
            			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
			