/*General form styles*/

form > h3{
	padding:25px;
}

form p{
	padding: 25px;
}

select{
	padding: 25px;
}

option{
	padding:25px;
}

label{
	padding: 25px;
}

.form-general{
	background-color: #4a4a4a;
	opacity:0.8;
	color: #fff;
}

/*background image*/
#booking-background{
	width: 100%;
	min-height: 500px;
	background-image: url('assets/colour.jpeg');
	background-size: cover;
	margin-top: -20px;  	
}

/*Box for form toggles*/
#booking-box{
	width: 100%;
	height: 150px;
	margin-top: 25px;
	background-color: #4a4a4a;
	opacity:0.8;
	border-bottom: 1px solid #979797;
}

/*Style for toggle*/
.display-form{
	font-size: 20px;
	padding-top: 20px;
}

.white{
	color: #fff;
	margin-top: 15px!important;
	margin-bottom: 10px!important;
	
}

#message{
	height: 200px;
}

#submit-button{
	width: 100px;
	height: 30px;
	margin: 25px;
	background-color: black;
	font-weight: bold;
	opacity: 1.0;
}

select{
	color: black;
}

@media (min-width: 600px){
	#booking-box{
		height: 100px;
	}
}




