/*Style for text*/
p{
	font-family: 'Bangla MN', 'Belleza', sans-serif;
	font-size: 16px;
	margin-bottom: 50px;
	margin-top: 25px;
}

/*fit images inside containers*/
img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*Style for anchor tags*/
a{
	text-decoration: none;
	color: #e5da39;
}

a:hover{
	color: #e5da39
}


/*Style for anchor tabs*/
li > a{
	color:#fff;
	font-size: 16px;
}

li > a:hover{
	color: black;
}

.panel-title{
	font-family: 'Bangla MN', 'Belleza', sans-serif;
}

.panel-heading{
	border-bottom: transparent;
}

.panel {
	margin-top: 50px;
    border-left: transparent;
    border-right: transparent;
}

.get-child .panel{
	border-bottom: transparent;
}

.top-p{
	margin-top: 50px;
}

.bottom-p{
	margin-bottom: 100px;
}


.home-title{
	margin-top: 25px;
	text-align: center;
	font-family: 'Bangla MN', 'Belleza', sans-serif;
}

/*centre paragraphs*/
.centred-p{
	display: block;
	text-align: center;
	margin: auto;
}

.left{
	float: left;
}

.text-left{
	text-align: left;
}

