<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="cos-sm-12 col-lg-12">
                <div id="flex-container">
                    <div class="flex-item">
                        <ul>
                            <li class="title">Emerald Travel Montserrat</li>
                            <li class="foot"><a href="about">About</a></li>
                            <li class="foot"><a href=".">Home</a></li>
                            <li class="foot"><a href="booking">Bookings</a></li>
                        </ul>
                    </div>
                    <div class="flex-item">
                        <ul>
                            <li class="title">Contact Emerald Travel</li>
                            <li class="foot"><a href='booking'><span class="fa fa-envelope fa-lg"></span>Contact us</a></li>
                            <li class="foot"><a href="#"><span aria-label='contact number' class="fa fa-phone fa-lg"></span> (+44) 020-8759-321</a></li>
                        </ul>
                    </div>
                    <div class="flex-item">
                        <ul class="title">Newsletter</ul>
                        <form id='footer-news' name="emailForm" data-ng-submit='submitEmail()' data-ng-show='emails' novalidate>
                            <div class="form-group">
                                <label class='foot' for='email'>Join our mailing list for great deals<br> and exclusive offers</label>
                                <input type="email" id='email' autocomplete='on' name="email" class="form-control foot" data-ng-model='user.emailHome' placeholder='Enter your email' title="Your e-mail should follow the format user@domain." required>
                            </div>
                            <div>
                            <button type="submit" class="btn btn-success join" data-ng-disabled='emailForm.$invalid'>Join</button>
                            </div>
                        </form>
                        <div data-ng-show='emailed' class="foot">
                            {{message}}
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>