<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="cos-sm-12 col-lg-12">
                <div id="flex-container">
                    <div class="flex-item">
                        <ul class="title">Emerald Travel Montserrat</ul>
                        <ul class="foot"><a href="/about">About</a></ul>
                        <ul class="foot"><a href="/">Home</a></ul>
                        <ul class="foot"><a href="/booking">Bookings</a></ul>
                    </div>
                    <div class="flex-item">
                        <ul class="title">Contact Emerald Travel</ul>
                        <ul class="foot">Contact Form</ul>
                    </div>
                    <div class="flex-item height">
                        <ul class="title">Website By</ul>
                        <ul id="name">Chris_T</ul><br>
                        <ul class="foot">E-mail: Christoal@outlook.com</ul>
                        <ul class="foot">Twitter: Chris_T888</ul>
                        <ul class="foot">Github: OMC86</ul>
                    </div>
                    <div class="flex-item">
                        <ul class="title">Sources</ul>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>