<!-- Title and title image-->
<emapp-page-title title='emappPageTitle'></emapp-page-title>

<!-- Accomodation options-->
<div class=container>
	<div class="panel panel-default">
		<div class="row">
			<div class="col-md-12">
				<div class="home-title">
					<h2 class="top-p">Accommodation Options</h2>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class="col-md-8 col-md-offset-2">
				<div class="centred-p">
					<p>Emerald Travel Montserrat offers two accommodation options for vacationers traveling with us. A more affordable but still luxurious shared option and a slightly more expensive private option.

					The stunning shared four and five bedroom villas enjoy ocean and mountain views, communal living spaces and swimming pools. Each bedroom is accompanied with a private ensuite bathroom.

					If you prefer something a little more private Emerald Travel works closely with some of the hotels in the area which we will be happy to book for you at no extra cost.
					</p>
				</div>
			</div>
		</div>
	</div>

		<!-- Carousel for Mango falls-->
		<div class="row">
			<div class="col-md-12">
				<div class="home-title left">
					<h3>Mango Falls</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div  class='top-p'>
					<accom-carousel ng-controller='MangoCtrl'></accom-carousel>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class="col-md-8 col-md-offset-2">
				<div>
					<ul class="list-style">
						<li>
							Located right above the waters of the Caribbean Sea! The place where Princess Anne stayed when she visited Montserrat in 2005
						</li>
						<li>
							The veranda runs the entire length of the house, and the bedrooms are separated for maximum privacy.
						</li>
						<li>
							The pool is surrounded by rain forest, banana trees and lush foliage on one side and the ocean on the other.
						</li>
						<li>
							 Shy prehistoric-looking iguanas sun themselves in the yard providing great photo opportunities.
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!--Carousel for wing song-->
		<div class="row">
			<div class="col-md-12">
				<div class="home-title left">
					<h3>Wing-Song</h3>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="top-p">
					<accom-carousel ng-controller='WingCtrl'></accom-carousel>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class="col-md-8 col-md-offset-2">
				<div>
					<ul class="list-style">
						<li>
							A really spectacular and very private home with amazing sea and mountain views.
						</li>
						<li>
							Open plan living space and kitchen diner.
						</li>
						<li>
							Wrap around veranda, with 6 steps to pool.
						</li>
						<li>
							 Three bedrooms and baths (2 on main level, one lower level) have AC, gorgeous bathrooms.
						</li>
						<li>
							Beautifully decorated, BBQ, WIFI, many extras
						</li>

					</ul>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="home-title left">
					<h2 id="the-itinerary" class="top-p offset-pos">Inclusive itinerary</h2>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class="col-md-8 col-md-offset-2">
				<div class="centred-p">
					<p>Emerald travel has curated a fantastic itinerary of events and excursions for guests to enjoy while holidaying with us.

					We have curated this option to ensure you will not miss out on anything you want to do during the St. Patricks celebrations and to save you the hassel of doing the research and organising things yourself.

					These activities are not compulsory but are included in the price of the holiday. We are also happy to help you organise anything else you would like to do whilst in Montserrat at an additional cost.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class='container-fluid'>	
		<div class="row">		
			<div>
				<img src='assets/mont-masks.jpg' alt='masquerade'/>
			</div>			
		</div>
	</div>

	<!-- Title and title image for itinerary-->
	<div class=container>
		<div class="row">
			<div class="col-md-12">
				<div class="home-title">
					<h2 class="top-p">St. Patricks week with Emerald Travel Montserrat</h2>
				</div>
			</div>
		</div>
		<div class="panel panel-default panel-heading">
			<div class="row">
				<div class="col-md-12">
					<div class="home-title left">
						<h3>Friday, March 10th</h3>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-8 col-md-offset-2">
					<div class="centred-p">
							<p>Montserrat Island tour - with stop for shop at little bay market - 9.30AM
							Bring beach wear for a sea dip

							Market Day – Little Bay Market – 6:30AM
							Opening Ceremony – Heritage Village, Salem – 7PM (Feature Alliouagana Singers from the UK, Irish and BVI groups)
							Rhythm Night – Salem Centre, 8PM (Drums, masquerade, string band from Nevis) – Street Dance by Miger’s Bar
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class='panel panel-default panel-heading'>
			<div class="row">
				<div class="col-md-12">
					<div class="home-title left">
						<h3>Saturday, March 11th</h3>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-8 col-md-offset-2">
					<div class="centred-p">
						<p>Volcano tour - visit the observatory and speak to volcanologists 12PM

							St.Patrick’s Hike – Scriber’s Adventure Tours, 6AM
							Breakfast – Salem,  8AM
							T-20 Cricket – Local and Diaspora teams12Pm
							St. Patrick’s Day Dinner – Cultural Centre – 7PM (Nevis String Band)
							Soca vs Dancehall -TBA
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class='panel panel-default panel-heading'>
			<div class="row">
				<div class="col-md-12">
					<div class="home-title left">
						<h3>Sunday, March 12th</h3>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-8 col-md-offset-2">
					<div class="centred-p">
						<p>Spearfishing and shoreline fishing. - Little Bay - 1PM
							Snorkeling equipment can be rented at an extra cost

							National Service – Lookout Catholic Church – Wear National Dress, 9AM
							Family Fun Day, Little Bay Field, 12:30PM (Music by local and visiting Iron Bands)
							Madras Fashion Explosion, Moose’s Place, Little Bay (Afternoon)
							Jr Calypso – 18th Anniversary, Salem Park, 8PM
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class='panel panel-default panel-heading'>
			<div class="row">
				<div class="col-md-12">
					<div class="home-title left">
						<h3>Monday, March 13th</h3>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-8 col-md-offset-2">
					<div class="centred-p">
						<p>Hike or Kayack to Rendevous Bay 10AM

							Business Expo
							String Band Jam – Time Out Bar and Grill, Little Bay, 7PM
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class='panel panel-default panel-heading'>
			<div class="row">
				<div class="col-md-12">
					<div class="home-title left">
						<h3>Tuesday, March 14th</h3>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-8 col-md-offset-2">
					<div class="centred-p">
						<p>Hike Centre Hills - 7AM

							Business Expo
							St Patrick’s Day Lecture, Cultural Centre, 6PM
							Movie Expo, 7PM
							Madrastique Fashion Show, National Trust, Salem, 7:30 PM
							String Band Jam, Salem Centre, 9PM
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class='panel panel-default panel-heading'>
			<div class="row">
				<div class="col-md-12">
					<div class="home-title left">
						<h3>Wednesday, March 15th</h3>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-8 col-md-offset-2">
					<div class="centred-p">
						<p>Rum shop tour - 2PM 
							Children welcome

							Miss St Patrick’s Cultural Pageant, Cultural Centre - 7PM
							Soca Dance Party - Moose’s Place - 11PM
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class='panel panel-default panel-heading'>
			<div class="row">
				<div class="col-md-12">
					<div class="home-title left">
						<h3>Thursday, March 16th</h3>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-8 col-md-offset-2">
					<div class="centred-p">
						<p>Volcano exclusion zone tour - 10AM

							National Awareness Day – Dress in National Wear and Colours
							Arrow Tribute Regional Soca Monarch, Salem Park, 8PM (feat. Onyan, Three Cylinders)
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class='panel panel-default panel-heading'>
			<div class="row">
				<div class="col-md-12">
					<div class="home-title left">
						<h3>Thursday, March 17th</h3>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-8 col-md-offset-2">
					<div class="centred-p">
						<p>St. Patricks day  

							Freedom Jump Up, 5AM
							Freedom Run & Walk (Cudjoe Head to MSS) 6AM
							Breakfast, Salem Centre
							Heritage Feast, Salem Centre, noon
							Heritage Parade, 3PM
							Cultural Show, Heritage Village, Salem 4PM
							Grand Raffle Announcement of BMW, 10PM
							Gold Rush feat. Jadine the Soca Diva, Destra, Salem Park, 11PM
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class='panel panel-default panel-heading'>
			<div class="row">
				<div class="col-md-12">
					<div class="home-title left">
						<h3>Thursday, March 18th</h3>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-8 col-md-offset-2">
					<div class="centred-p">
						<p>St. Patricks day  

							Beach BBQ - Bunkum Bay 2PM

							Alliougana Singers (TBA)
							Emerald Community Singers, Salem Old School, 7PM
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class='panel panel-default panel-heading'>
			<div class="row">
				<div class="col-md-12">
					<div class="home-title left">
						<h3>Thursday, March 19th</h3>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-8 col-md-offset-2">
					<div class="centred-p">
					<p>Ferry to Antigua - Little Bay port - 6AM
					</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Links to forms-->
<div instruction></div>







