<!-- Title and title image-->
<emapp-page-title title='emappPageTitle'></emapp-page-title>

<!-- Accomodation options-->
<div class=container>
	<div class="row">
		<div class="col-md-12">
			<hr>
			<div class="home-title">
				<h2>Accommodation Options</h2>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>Emerald Travel Montserrat offers two accommodation options for vacationers traveling with us. A more affordable but still luxurious shared option and a slightly more expensive private option.

				The stunning shared four and five bedroom villas enjoy ocean and mountain views, communal living spaces and swimming pools. Each bedroom is accompanied with an ensuite bathroom.

				If you prefer something a little more private Emerald Travel works closely with the hotels in the area which we will be happy to book for you at no extra cost.
				</p>
			</div>
		</div>
	</div>
	<hr>

		<!-- Carousel for Mango falls-->
	<div class="row">
		<div class="col-md-12">
			<h3>Mango Falls</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<accom-carousel data-ng-controller='MangoCtrl'></accom-carousel>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<div>
				<ul class="list-style">
					<li>
						Located right above the waters of the Caribbean Sea! The place where Princess Anne stayed when she visited Montserrat in 2005
					</li>
					<li>
						The veranda runs the entire length of the house, and the bedrooms are separated for maximum privacy.
					</li>
					<li>
						The pool is surrounded by rain forest, banana trees and lush foliage on one side and the ocean on the other.
					</li>
					<li>
						 Shy prehistoric-looking iguanas sun themselves in the yard providing great photo opportunities.
					</li>
				</ul>
			</div>
		</div>
	</div>

		<!--Carousel for wing song-->
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="home-title left">
				<h3>Wing-Song</h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<accom-carousel data-ng-controller='WingCtrl'></accom-carousel>		
		</div>
	</div>
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<div>
				<ul class="list-style">
					<li>
						A really spectacular and very private home with amazing sea and mountain views.
					</li>
					<li>
						Open plan living space and kitchen diner.
					</li>
					<li>
						Wrap around veranda, with 6 steps to pool.
					</li>
					<li>
						 Three bedrooms and baths (2 on main level, one lower level) have AC, gorgeous bathrooms.
					</li>
					<li>
						Beautifully decorated, BBQ, WIFI, many extras
					</li>
				</ul>
			</div>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-md-12">
			<div id='the-itinerary' class="home-title left">
				<h2>Inclusive itinerary</h2>
			</div>
		</div>
	</div>
</div>

<div class='container-fluid'>	
	<div class="row">		
		<div>
			<img src='/assets/mont-masks.jpg' alt='masquerade'/>
		</div>			
	</div>
</div>

<!-- Title and title image for itinerary-->
<div class=container>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="home-title">
				<h2>St. Patricks week with Emerald Travel Montserrat</h2>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>Emerald travel has curated a fantastic itinerary of events and excursions for guests to enjoy while holidaying with us.

				We have curated this option to ensure you will not miss out on anything during the St. Patricks celebrations and to save you the hassel of organising things yourself.

				These activities are not compulsory but are included in the price of the holiday. We are also happy to help you organise anything else you would like to do.
				</p>
			</div>
		</div>
	</div>
	<!--I used this example to bulid the tabs https://codepen.io/jasoncluck/pen/iDcbh-->
	<div class="row">
		<div class="col-md-12">
			<div class="itinerary-top">
				<ul class="nav nav-tabs itin-tabs">
				    <li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(1) }">
				        <a href data-ng-click="setTab(1)">March 10th</a>
					</li>
					<li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(2) }">
				      	<a href data-ng-click="setTab(2)">March 11th</a>
			       	</li>
					<li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(3) }">
						<a href data-ng-click="setTab(3)">March 12th</a>
					</li>
					<li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(4) }">
						<a href data-ng-click="setTab(4)">March 13th</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs itin-tabs">
				<li class='col-sm-2 col-lg-2' ng-class="{ active: isSet(5) }">
			        <a href data-ng-click="setTab(5)">March 14th</a>
				</li>
				<li class='col-sm-2 col-lg-2' ng-class="{ active: isSet(6) }">
			      	<a href data-ng-click="setTab(6)">March 15th</a>
			    </li>
			 
				<li class='col-sm-2 col-lg-2' ng-class="{ active: isSet(7) }">
					<a href data-ng-click="setTab(7)">March 16th</a>
				</li>
				<li class='col-sm-2 col-lg-2' ng-class="{ active: isSet(8) }">
					<a href data-ng-click="setTab(8)">March 17th</a>
				</li>
				<li class='col-sm-2 col-lg-2' ng-class="{ active: isSet(9) }">
			        <a href data-ng-click="setTab(9)">March 18th</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div id=schedule>
			<div data-ng-show="isSet(1)">
				<p>Montserrat Island tour with stop for shop at little bay market</p>
			  	<p> Bring beach wear for a sea dip at little bay</p>
			  	<p>Opening Ceremony – Heritage Village, Salem – 7PM (Feature Alliouagana Singers from the UK, Irish and BVI groups)</p>
			  	<p> Rhythm Night – Salem Centre, 8PM (Drums, masquerade, string band from Nevis) – Street Dance by Miger’s Bar</p>
			</div>
			<div data-ng-show="isSet(2)">
				  	<p>Volcano tour - visit the observatory and speak to volcanologists</p>
				  	<p>St.Patrick’s Hike – Scriber’s Adventure Tours</p>
				  	<p>Breakfast in Salem</p>
				  	<p>T-20 Cricket – Local and Diaspora teams</p>
				  	<p> St. Patrick’s Day Dinner – Cultural Centre - Nevis String Band Soca vs Dancehall</p>
				</div>
				<div data-ng-show="isSet(3)">
				  	<p>Spear and shoreline fishing. - Little Bay - Snorkeling equipment can be rented at an extra cost </p>
				  	<p>National Church Service – Lookout Catholic Church – Wear National Dress</p> 
				  	<p>Family Fun Day - Little Bay Field - (Music by local and visiting Iron Bands)</p>
				  	<p> Madras Fashion Explosion, Moose’s Place, Little Bay </p>
				  	<p> Jr Calypso< 18th Anniversary - Salem Park</p>
				</div>
				<div data-ng-show="isSet(4)">
				  	<p>Hike or Kayack to Rendevous Bay</p>
				  	<p> Business Expo String Band Jam – Time Out Bar and Grill</p>
				</div>
				<div data-ng-show="isSet(5)">
				  	<p>Hike Centre Hills </p>
				  	<p>Business Expo St Patrick’s Day Lecture - Cultural Centre</p>
				  	<p> Madrastique Fashion Show National Trust - Salem </p>
				  	<p> String Band Jam, Salem Centre</p>
					</p>
				</div>
				<div data-ng-show="isSet(6)">
				  	<p>Rum shop tour - Children welcome</p>
				  	<p> Miss St Patrick’s Cultural Pageant - Cultural Centre</p>
				  	<p>Soca Dance Party - Moose’s Place</p>
				</div>
				<div data-ng-show="isSet(7)">
				  	<p>Volcano exclusion zone tour</p>
					<p>National Awareness Day – Dress in National Wear and Colours</p>
					<p>Arrow Tribute Regional Soca Monarch - Salem Park - (feat. Onyan, Three Cylinders)
					</p>
				</div>
				<div data-ng-show="isSet(8)">
				  	<p>St. Patricks day Freedom Jump Up - 5AM Freedom Run & Walk (Cudjoe Head to MSS) </p>
				  	<p>Breakfast - Salem Centre Heritage Feast </p>
				  	<p>Noon Heritage Parade</p> 
				  	<p> Cultural Show - Heritage Village Salem </p>
				  	<p>Grand Raffle Announcement of BMW, Gold Rush feat. Jadine the Soca Diva, Destra, Salem Park</p>
				</div>
				<div data-ng-show="isSet(9)">
				  	<p>St. Patricks day Beach BBQ - Bunkum Bay </p>
				  	<p> Alliougana Singers, Emerald Community Singers - Salem Old School</p>
				</div>
				<div data-ng-show="isSet(10)">
				  	<p>Ferry to Antigua - Little Bay port</p>
				</div>
			</div>
			<hr>
		</div>			
	</div>


<!--Links to forms-->
<div instruction></div>







