<!-- Title and title image-->
<emapp-page-title title='emappPageTitle'></emapp-page-title>

<!-- Accomodation options-->
<div class=container>
	<div class="row">
		<div class="col-md-12">
			<hr>
			<div class="home-title">
				<h2>Accommodation Options</h2>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<p>
				Emerald Travel Montserrat offers luxury accommodation in handpicked villas with first class facilities.
				Our villas provide you with comfort and convenience against a beautiful backdrop and lavish
				surroundings that you can make your home.
			</p>
			<p>
				The package is inclusive of an ensuite double room within a luxury villa per traveller, unless booked
				as two persons sharing. Daily breakfast is included. Villas include communal living room, kitchen,
				with self-catering facilities and swimming pool. Only travellers booked with Emerald Travel Montserrat
				are accommodated at the designated villas.
			</p>
			<p>
				Double rooms are provided as standard. Requests for twin rooms should be made with the booking.
				If you prefer something a little more private or tailored to your needs, Emerald Travel work closely
				with local hotels and will endeavour to meet your request.
			</p>
		</div>
	</div>
</div>
<hr>

		<!-- Carousel for Mango falls-->
	<div class="row">
		<div class="col-md-12">
			<h3>Mango Falls</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<accom-carousel data-ng-controller='MangoCtrl'></accom-carousel>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<div>
				<ul class="list-style">
					<li>
						Located right above the waters of the Caribbean Sea! The place where Princess Anne stayed when she visited Montserrat in 2005
					</li>
					<li>
						The veranda runs the entire length of the house, and the bedrooms are separated for maximum privacy.
					</li>
					<li>
						The pool is surrounded by rain forest, banana trees and lush foliage on one side and the ocean on the other.
					</li>
					<li>
						 Shy prehistoric-looking iguanas sun themselves in the yard providing great photo opportunities.
					</li>
				</ul>
			</div>
		</div>
	</div>


	<hr>
	<div class="row">
		<div class="col-md-12">
			<div id='the-itinerary' class="home-title left">
				<h2>Inclusive itinerary</h2>
			</div>
		</div>
	</div>
</div>

<div class='container-fluid'>	
	<div class="row">		
		<div>
			<img src='/assets/mont-masks.jpg' alt='masquerade'/>
		</div>			
	</div>
</div>

<!-- Title and title image for itinerary-->
<div class=container>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="home-title">
				<h2>St. Patricks week with Emerald Travel Montserrat</h2>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>Emerald Travel has curated an exciting itinerary of events and excursions for guests to enjoy whilst
					holidaying with us. As part of the package you can explore the islands geography, get to know the
					people and experience the wonders of the Soufriere Hills volcano. In addition, Emerald Travel
					Montserrat provide you with a full itinerary of local activities surrounding St Patrick’s week.
					The wide array of activities on offer allows you to choose what makes the perfect holiday for you.
				</p>
				<p>Take a look at the 10 day itinerary with both Emerald Travel and St Patrick's Festival activities
					listed.</p>
			</div>
		</div>
	</div>
	<!--I used this example to bulid the tabs https://codepen.io/jasoncluck/pen/iDcbh-->
	<div class="row">
		<div class="col-md-12">
			<div class="itinerary-top">
				<ul class="nav nav-tabs itin-tabs">
				    <li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(1) }">
				        <a href data-ng-click="setTab(1)">March 10th</a>
					</li>
					<li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(2) }">
				      	<a href data-ng-click="setTab(2)">March 11th</a>
			       	</li>
					<li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(3) }">
						<a href data-ng-click="setTab(3)">March 12th</a>
					</li>
					<li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(4) }">
						<a href data-ng-click="setTab(4)">March 13th</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs itin-tabs">
				<li class='col-sm-2 col-lg-2' ng-class="{ active: isSet(5) }">
			        <a href data-ng-click="setTab(5)">March 14th</a>
				</li>
				<li class='col-sm-2 col-lg-2' ng-class="{ active: isSet(6) }">
			      	<a href data-ng-click="setTab(6)">March 15th</a>
			    </li>
			 
				<li class='col-sm-2 col-lg-2' ng-class="{ active: isSet(7) }">
					<a href data-ng-click="setTab(7)">March 16th</a>
				</li>
				<li class='col-sm-2 col-lg-2' ng-class="{ active: isSet(8) }">
					<a href data-ng-click="setTab(8)">March 17th</a>
				</li>
				<li class='col-sm-2 col-lg-2' ng-class="{ active: isSet(9) }">
			        <a href data-ng-click="setTab(9)">March 18th</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div id=schedule>
			<div data-ng-show="isSet(1)">
				<div class="orange-text">
					<h4>Emerald Travel Activities</h4>
					<p>Montserrat Island day tour with stop-and-shop at Little Bay Market</p>
					<p>Bring beach wear for a sea dip</p>
				</div>
				<hr>
			  	<div class="green-text">
					<h4>St Patrick's Festival Activities</h4>
					<p>
						Opening Ceremony - Featuring Alliouagana, Singers from the UK, Irish and BVI bands
					</p>
					<p>
						Rhythm Night –Drums, masquerade, string band from Nevis Street Dance by Miger’s Bar
					</p>
				</div>
			</div>
			<div data-ng-show="isSet(2)">
				  	<div class="orange-text">
						<h4>Emerald Travel Activities</h4>
				  		<p>Hike to Rendezvous Bay</p>
					</div>
				<hr>
					<div class="green-text">
						<h4>St Patrick's Festival Activities</h4>
				  		<p>St. Patrick’s Day Dinner with Nevis String Band</p>
				  		<p>Soca vs Dancehall dance</p>
					</div>
				</div>
				<div data-ng-show="isSet(3)">
					<div class="orange-text">
						<h4>Emerald Travel Activities</h4>
						<p>Visit the observatory and speak to volcanologists</p>
					</div>
					<hr>
					<div class="green-text">
						<h4>St Patrick's Festival Activities</h4>
						<p>National Church Service – Wear National Dress</p>
				  		<p>Family Fun Day - Music by local and visiting Bands</p>
				  		<p>Madras Fashion Explosion</p>
					</div>
				</div>
				<div data-ng-show="isSet(4)">
				  	<div class="orange-text">
						<h4>Emerald Travel Activities</h4>
						<p>Underwater and shoreline fishing at Little Bay - Snorkelling equipment is provided</p>
					</div>
					<hr>
					<div class="green-text">
						<h4>St Patrick's Festival Activities</h4>
						<p>Business Expo</p>
				  		<p>String Band Jam</p>
					</div>
				</div>
				<div data-ng-show="isSet(5)">
				  	<div class="orange-text">
						<h4>Emerald Travel Activities</h4>
						<p>Rum shop day tour- eat, drink and jam with locals</p>
					</div>
					<hr>
					<div class="green-text">
						<h4>St Patrick's Festival Activities</h4>
						<p>St.Patrick’s Hike – Scriber’s Adventure Tours</p>
					</div>
				</div>
				<div data-ng-show="isSet(6)">
				  	<div class="orange-text">
						<h4>Emerald Travel Activities</h4>
						<p>Volcano exclusion zone day tour</p>
					</div>
					<hr>
					<div class="green-text">
						<h4>St Patrick's Festival Activities</h4>
						<p>National Awareness Day – Dress in National Colours</p>
						<p>Arrow Tribute Regional Soca Monarch - featuring Onyan, Three Cylinders</p>
					</div>
				</div>
				<div data-ng-show="isSet(7)">
				  	<div class="orange-text">
						<h4>Emerald Travel Activities</h4>
						<p>St. Patricks Beach BBQ - Bunkum Bay</p>
					</div>
					<hr>
					<div class="green-text">
						<h4>St Patrick's Festival Activities</h4>
						<p>St Patrick’s Day Lecture at the Cultural Centre</p>
						<p>String Band Jam in Salem Centre</p>
					</div>
				</div>
				<div data-ng-show="isSet(8)">
					<div class="green-text">
						<h4>St Patrick's Festival Activities</h4>
						<p>St. Patricks day Freedom Jump Up</p>
						<p>Freedom Run & Walk</p>
						<p>Breakfast - Salem Centre Heritage Feast</p>
						<p>St Patricks Heritage Parade</p>
						<p>Cultural Show feat. Jadine the Soca Diva and Destra Garcia</p>
					</div>
				</div>
			<hr>
				<div data-ng-show="isSet(9)">
				  	<div class="orange-text">
						<h4>Emerald Travel Activities</h4>
						<p>Travel to Antigua</p>
						<p>Antigua Day tour</p>
					</div>
				</div>
			</div>
			<hr>
		</div>			
	</div>


<!--Links to forms-->
<div instruction></div>







