
#map-container{
	width:100%;
	height: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

#map{
	display: block;
	margin: auto;	
}

#volcano-container{
	width: 100%;
	height: auto;
}

#wearing-green-container{
	width: 100%;
	height: auto;
}

.offset-pos{
	border-top: 100px solid transparent;
	margin-top: -100px;
	-webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#carefree{
	padding: 20px;
}

.float{
	width: 220px;
	height: auto;
	float: right;
	padding: 0 0 25px 25px;
	
}

#drink-container{
	display: block;
	vertical-align: top;
	clear: left;
}
