<!--Title and title image-->
<emapp-page-title title='emappPageTitle'></emapp-page-title>

<!--Intro to Montserrat-->
<div class="container">
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<div class='centred-p'>
				<p class="top-p">Montserrat, known as the Emerald Isle of the Caribbean for its lush green rainforest and for the Irish history ingrained in the ancestry of the island. Located in the Leeward Islands, part of the chain known as the Lesser Antilles, in the British West Indies, It is a British Overseas Territory and has a UK-appointed governor.</p>
				<div class="col-md-8">
					<p>To get there you need to take a small plane or ferry from neighbouring Antigua. Different from other islands Montserrat is the unspoilt Caribbean. Crime is almost unknown in this peaceful, under populated country, it’s home to about 5,000 people and the sense of community is evident with values of courtesy and honesty displayed.</p>
				</div>
				<div class="col-md-4">
					<div id='carefree'>
						<p class="snippet">a carefree island paradise</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-8 col-md-offset-2'>
			<div id='map-container bottom-p'>
				<img id='map' src='assets/world-atlas-mont.jpg' alt='map of Caribbean'>
			</div>
		</div>
	</div>

	<!--Volcano Title and title image-->
	<div class='row'>
		<div class="col-md-12">
			<div class="home-title left">
				<h2 class="top-p">The Volcano</h2>
			</div>
		</div>
	</div>
</div>

<div class='container-fluid'>
	<div class='row'>
		<div id='volcano-container='>
			<img src='assets/mont-volcano.jpg' alt='Volcano'/>
		</div>
	</div>
</div>

<div class="container">
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<div class='centred-p'>
				<p class="top-p">
					Montserrat’s Georgian era capital city, Plymouth, was submerged under the pyroclastic flow from the eruption which started in 1995 and caused two thirds of the island’s population to flee. Fewer than 1200 people stayed on the island as of 1997, rising to nearly 5000 by 2016. </p>

					<div class="col-sm-4 col-md-4">
					<p class="snippet">Plymouth, also known as a “modern day Pompeii”</p>
					</div>
					<div class="col-md-8">
					<p>The volcano has been relatively quiet since 2010, but is still closely monitored. In fact it is the most studied volcano in the world!</p>
					</div>

					 <p>The designated “Exclusion Zone” is deceptive as access is now permitted and Plymouth, also known as a “modern day Pompeii” can be viewed from nearby vantage points, as well as from the sea.  The Montserrat Volcano Observatory is open to the public where you can learn more about the volcano and get a prime view of it.</p>

					<p class="bottom-p">Before the eruption of the Soufrière Hills Volcano, Montserrat was a carefree island paradise with a thriving community. It was also an exclusive, and very private holiday destination.

				</p>
			</div>
		</div>
	</div>

	<!--History title and image-->
	<div class='row'>
		<div class="col-md-12">
			<div class="home-title left">
				<h2 id='the-history' class="offset-pos">The History</h2>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-12">
			<div>
				<img src='assets/mont-history.jpg' alt='Historical photo of Montserrat police station'/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="home-title left">
				<h3>Arrival of Irish settlers</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div class="text-left">
				<p>Montserrat's Irish heritage dates back to the 17th century. The island became a haven for Irish Catholics who were affected by anti-Catholic legislations in Great Britain and Ireland.</p>

				<p>The predominantly Irish population of Montserrat is evident in the 1678 census which indicates that Seventy percent of Montserrat’s white population self-identified as Irish.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="home-title left">
				<h3>The plantation era</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div class="text-left">
				<p>During the plantation era, colonists built an economy on sugar, rum, arrowroot and sea island cotton. Planters emerged from among the island’s Irish residents and the importation of African slaves began.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="home-title left">
				<h3>The rebellion</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div class="text-left">
				<p> Soon slaves outnumbered the planters and started to rebel.  In 1768, the slaves planned an island-wide attack on St. Patrick's Day, when the planters would be celebrating. Servants were instructed to grab all the weapons they could find inside the Government House while field slaves stormed the building with rocks, farm tools, clubs and homemade swords. </p>

				<p>Despite months of plotting, their plans had been leaked and their revolt was unsuccessful resulting in the brutal killing of nine plot leaders.
				</p>
			</div>
		</div>
	</div>

	<!--St. Patricks title image-->
	<div class="row">
		<div class="col-md-12">
			<div class="home-title left">
				<h3>St. Patrick's</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div class='text-left'>
				<p class='bottom-p'> In sustained honour of the island's rich culture and dynamic mix of Irish and African heritage, Montserrat commemorates St. Patrick's Day as a weeklong event celebrating their ancestors bravery and their fight for freedom but also including the Irish Catholic element of their history. Festivities held that week commemorate the culture of Montserrat in song, dance, food and traditional costumes.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="home-title left">
				<h2 id='the-celebrations' class='offset-pos'>The celebrations</h2>
			</div>
		</div>
	</div>
</div>

<div class='container-fluid'>	
	<div class="row">
			<div id=wearing-green-container>
				<img src='assets/wearing-green.jpg' alt="Women wearing green for St. Patrick's"/>
			</div>
		</div>	
</div>

<div class="container">
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<div class="centred-p">
				<p class="top-p">Montserrat is the only country outside Ireland where St Patrick's Day is a public holiday.</p>

			<div id="drink-container">
				
				<p>The week-long St Patrick's festival provides a dynamic mix of Irish and African heritage, with some traditional Caribbean entertainment thrown in, to make this one of Montserrat's most popular annual events.</p>
				
				
					<p class="snippet float">Guinness and 'Green' Heineken are available in bars aside the customary rum punch cocktails.</p>
				
				
				
				<p>Much of the activity on St Patrick's Day itself (March 17th) will centre around Festival Village, in the town of Salem. Here, stalls will sell traditional food such as salted codfish and sweet potato, ``dookna'' and play games such as ``Zig Zag Zaggett‘’ similar to marbles but played with cashew seeds.</p>
				
			</div>

				<p>Masquerade dancing is a focal aspect of the celebrations, masked dancers in costumes complete with bells, ribbons and attractive headdress resembling a bishop mitre, put on colourful displays of dance in a playful mockery of the one-time slave masters.</p>

				<p>During St Patrick's Day, visitors will notice many locals wearing national dress - in which green is the dominant colour - and both Guinness and 'Green' Heineken are available in bars aside the customary rum punch cocktails.</p>

				<p class='bottom-p'>African-inspired events such as the Freedom Run fun-run and masquerade dancing, commemorate the slave history in Montserrat, specifically the unsuccessful uprising that took place on St Patrick's Day in 1768.</p>
			</div>
		</div>
	</div>
</div>

<!--Links to forms-->
<div instruction></div>



