<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <button class="drop-btn" ng-click="drops = !drops">Emerald Travel Montserrat
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul data-ng-controller="NavCtrl" class="dropdown-container" ng-show="drops">
                    <li><a href="general">Montserrat</a></li>
                    <li><a href='' data-ng-click="goTo('general#the-history')">History</a></li>
                    <li><a href='' data-ng-click="goTo('general#the-celebrations')">St.Patrick's Day</a></li>
                    <li><a href="inclusive">Accommodation</a></li>
                    <li><a href="activities">Activities</a></li>
                    <li><a href='' ng-click="goTo('inclusive#the-itinerary')">Inclusive Itinerary</a></li>
                </ul>
            </div>

	        <button type="button" class='navbar-toggle' ng-init='isCollapsed = true' ng-click='isCollapsed = !isCollapsed'>
	           	<span class='icon-bar'></span>
	           	<span class='icon-bar'></span>
	           	<span class='icon-bar'></span>
	        </button>
         </div>
        <ul class='nav navbar-nav navbar-right navbar-collapse' ng-class="{collapse: isCollapsed}">
            <li><a href=".">Home</a></li>
            <li><a href="booking">Our Services</a></li>
            <li><a href="about">Booking</a></li>
            <li><a href="about">Contact Us</a></li>
        </ul>
    </div>
</nav>