
    <div class="row">
        <div class="col-md-8 ">
            <form class='form-general' name="contactForm" ng-submit='submitForm()' novalidate>  
                <div id='input'>
                    <h3 class='no-margin pad'>Contact Form</h3>
                     <p class="no-margin">Fill in the contact form and a member of our team will be in touch as soon as possible. If you're unsure about what to put in the message field, here you can write any questions you have or let us know what you would like to talk about specifically when we call. This will help our team find answers for you without wasting your time.</p>
                    <div class="form-group">       
                        <label for='first-name'>First Name:</label>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                <input type="text" id='firstName' name="firstName" class="form-control" placeholder='Enter your first name' ng-model="user.firstName" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">       
                        <label for='last-name'>Last name:</label>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                <input type="text" id='last-name' name="lastName" class="form-control" placeholder='Enter your last name' ng-model="user.lastName" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for='email'>Email:</label>
                        <div class="row">
                            <div class='col-md-8 col-md-offset-1'>
                                <input type="email" id='email' name="email" class="form-control" placeholder='enter your e-mail' ng-model=user.email required>
                                <p ng-show="contactForm.password.$pristine" class="help-block">Your email is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                <input type="tel" id='phone' name="phone-number" class="form-control" placeholder='tel' ng-model=user.number>
                                <p ng-show="contactForm.number.$pristine" class="help-block">phone number</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject:</label>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                <input type="text" id="subject" name="subject" class="form-control" placeholder='subject' ng-model=user.number>
                                <p ng-show="contactForm.number.$pristine" class="help-block">phone number</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                         <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                <textarea id='message' type="text" name="message" class="form-control" placeholder='Please let us know what questions you have and what you would like to talk about.' ng-model=user.message></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="submit" id='submit-button' value='submit'/>
                </div>
            </form>
        </div>
    </div>
    