<div class="container-fluid">
	<div class="row">
		<div class='col-md-12 get-child'>
			<div class="panel panel-default">
				<div class="panel-title home-title">
					<h2 class="top-p">Want to know more?</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="option-image-container" title='Montserrat coastal view'>
			<div class='container'>
				<dic class='col-md-8 col-md-offset-2'>
					<div id="steps">
						<div class="p-background step-text">
							<p>Step one:<br>
							Take a look at <a href='inclusive'>what's on offer.</a>
							</p>
							<p>Step two:<br>
							Use our calculator to <a href='booking'>get a quote</a>
							</p>
							<p>Step three:<br>
							To book or for further enquiries please submit the <a href='booking'>contact form</a> and a member of our team will get in touch as soon as possible.</p>
						</div>
					</div>
				</dic>
			</div>
		</div>
	</div>
</div>
