<div id='slide-container'>
	<img data-ng-repeat='x in slides' class='slide' data-ng-hide='!isCurrentIndex($index)' data-ng-src='{{x.image}}'>
	<a class="arrow prev" href="" data-ng-click="nextSlide()"><span class='glyphicon glyphicon-menu-left icon'></span></a>

   	<a class="arrow next" href="" data-ng-click="prevSlide()"><span class="glyphicon glyphicon-menu-right icon"></span></a>
 

	<nav class="slide-nav">
		<div class='wrapper'>
			<ul class="dots">
				<li class="dot" data-ng-repeat='x in slides'>
					<a href='' data-ng-class="{'active':isCurrentIndex($index)}" data-ng-click='setCurrentIndex($index);'>{{x.caption}}
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
	
