<div class='container'>
	<div class='row'>
		<div class='col-sm-12 col-lg-12'>
			<div class="home-title">
				<h1 id='home-page-h1'>Explore the Emerald Isle of the Caribbean</h1>
			</div>
		</div>
	</div>
</div>

<!--Tabs-->
<div class='container-fluid'>
	<div class='row'>
		<div id='home-image-container' title='Montserrat costal view'>
			<div class='container'>
				<div class="row">
					<div class="col-md-12">
						<div id='trans-box'>
							<div ng-cloak>
								<div class="col-md-12">
			  						<ul class="nav nav-tabs">
				       					<li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(1) }">
				          					<a href ng-click="setTab(1)">How it Works</a>
				       					</li>
								       	<li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(2) }">
								          	<a href ng-click="setTab(2)">What We Offer</a>
								       	</li>
								       	<li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(3) }">
								          	<a href ng-click="setTab(3)">Who We Are</a>
								       	</li>
								       	<li class='col-sm-3 col-lg-3' ng-class="{ active: isSet(4) }">
							          		<a href ng-click="setTab(4)">Why Choos Us</a>
							       		</li>
									</ul>
								</div>

	  				

				    			<div class="col-md-8 col-md-offset-2">
				  					<div>
				  						<div class='p-background centred-p' ng-show="isSet(1)">
				  						<p>To talk with a member of our team directly</p>

						          		<a href='booking'><button class="btn btn-success big-btn">Contact us</button></a>

						          		<p>It takes less than a minute to get a quote for your holiday with our holiday calculator!</p>

						          		<a href='booking'><button class="btn btn-warning big-btn">Get a Quote</button></a>
				     					</div>
				       					<div class='p-background' ng-show="isSet(2)">
								          	<p>10 day inclusive Caribbean experience in Montserrat during the St.Patricks day
				 							celebrations. </p>
				 							<p>Panoramic ocean view villas, ensuite bathrooms, swimming pool and beach access.</p>
				 							<p>Hand picked itinerary of activities to ensure you get to experience everything Montserrat has to offer </p>
				 							<p>End of holiday Beach BBQ and the chance to ride a jet ski </p>
				 							<p>Return travel includes flights from UK / Ireland - Antigua - Montserrat.
				 							</p>
								        </div>

										<div class='p-background' ng-show="isSet(3)">
								      
								        	<p>Rochelle Lee, founder of Emerald Travel is a British born Montserratian  descendant</p>
								        	<p>Having lived and worked in Monserrat, Rochelle has built strong relationships with the locals and has a wonderful knowledge of what the island has to offer</p>
								        	<p>Thanks to Rochelle Emerald Travel is able to bring you a bespoke Caribbean  experience. 
								        	</p>
				     					</div>

				        				<div class='p-background' ng-show="isSet(4)">
				          		
					          				<p>We are offering a unique experience in the Caribbean travel market away from big resorts and tourist traps.</p>
					          				<P>Our holidays are tailored to make sure you get to experience all the Island has to offer, without needing to worry about any of the complexities that come with organising a trip like this and all at an affordable price.</P>
											<p>You can do as much or as little as you like. Group activities are not compulsory and we can help you organise your own private trips.
											ATOL bonded flight booking.</p>
					     				</div>
				  					</div>
				  				</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Intro-->
<div class='container'>
	<hr>
	<div class='row'>
		<div class='col-md-12'>
			<div class="centred-p">
				<h2>Experience St. Patrick's Montserratian Style...
				</h2>
			</div>	
			<div class="centred-p"> 
				<div class="col-sm-8 col-lg-8 col-sm-offset-2 col-lg-offset-2">
					<p>Montserrat is the only country in the world outside Ireland to honour St. Patrick’s with a public holiday. In fact, Montserrat takes it a step further and enjoys a whole week of St. Paddy celebrations. For an outstanding, hassle free, off the beaten path Caribbean experience, look no further than Emerald travel Montserrat.  
					</p>
				</div>
			</div>
		</div>
	</div>

	
	
	

	<!--Boxes with links to site-->
	<div class='row'>
		<div class='col-md-12'>
			<hr>
			<div class="home-title">
				<h3>Discover Montserrat</h3>
			</div>
		</div>
	</div>
	<!--link to general page-->
	<div class="row">
		<div class='col-xs-12 col-sm-4'>
			<a href='general'>
				<div id='box-one' class="box" title='volcano' ng-model='a' ng-mouseover=a=true ng-mouseleave='a=false'>
					<div class='box-trans' ng-show='a'>
						<p>A closer look at Montserrat;
						The island, the people, the 
						volcano and the future.
						</p> 
					</div>
					<div class=trans-small-box>
						<div class='p-background'>
							<p class='box-title'>Montserrat</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	
		<!--link to general page history section-->
		<div class='col-xs-12 col-sm-4'>
			<a href='' ng-click="goTo('general#the-history')">
				<div id='box-two' class="box" title='St. Patrick' ng-model='b' ng-mouseover=b=true ng-mouseleave='b=false'>
					<div class='box-trans' ng-show='b'>
						<p>Delve into the history of the
						island and discover how 
						St. Patricks became a public 
						holiday.
						</p> 
					</div>
					<div class=trans-small-box>
						<div class='p-background'>
							<p class="box-title fit">History</p>
						</div>
					</div>
				</div>
			</a>
		</div>

		<!--link to general page celebration section-->
		<div class='col-xs-12 col-sm-4'>
			<a href='' ng-click="goTo('general#the-celebrations')">
				<div id='box-three' class="box" ng-model='c' ng-mouseover=c=true ng-mouseleave='c=false'>
					<div class='box-trans' ng-show='c'>
						<p>A look at how Montserratians
						celebrate this joyous day.
						</p> 
					</div>
					<div class=trans-small-box>
						<div class='p-background'>
							<p class="box-title fit fitt">St. Patrick's day</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>			

		
	
	<div class='row'>
		<div class='col-sm-12 col-lg-12'>
			<div class="home-title">
				<h3>What's on Offer</h3>
			</div>
		</div>
	</div>		

	<!--link to inclusive page-->		
	<div class="row">
		<div class='col-xs-12 col-sm-4'>
			<a href='inclusive'>
				<div id='box-four' class="box" ng-model='d' ng-mouseover=d=true ng-mouseleave='d=false'>
					<div class='box-trans' ng-show='d'>
						<p>Luxurious villa, ocean views
							and a gorgeous swimming pool.
						</p> 
					</div>
					<div class=trans-small-box>
						<div class='p-background'>
							<p class="box-title">Accommodation</p>
						</div>
					</div>
				</div>
			</a>
		</div>

	<!--link to activities page-->
		<div class='col-xs-12 col-sm-4'>
			<a href='activities'>
				<div id='box-five' class="box" ng-model='e' ng-mouseover=e=true ng-mouseleave='e=false'>
					<div class='box-trans' ng-show='e'>
						<p>From spear fishing to
						nature treks. Have a look at all
						the island has to offer.
						</p> 
					</div>
					<div class=trans-small-box>
						<div class='p-background'>
							<p class="box-title">Activities</p>
						</div>
					</div>
				</div>
			</a>
		</div>

		<!--link to general page history section-->
		<div class='col-xs-12 col-sm-4'>
			<a href='' ng-click="goTo('inclusive#the-itinerary')">
				<div id='box-six' class="box" ng-model='f' ng-mouseover=f=true ng-mouseleave='f=false'>
					<div class='box-trans' ng-show='f'>
						<p>The itinerary you can follow if
							you so choose. All activities
							are included in the price.
						</p> 
					</div>
					<div class=trans-small-box>
						<div class='p-background'>
							<p class="box-title">Inclusive itinerary</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	<hr>						
</div>

<!--links to forms-->
<div instruction></div>





