/*Background image for tabs*/
#home-image-container{
	max-width:100%;
	height:500px;
	background-image: url('/angular_holiday/assets/montserrat-wide.jpg'); 
	background-repeat: no-repeat;
	background-size: cover; 
}

/*background for tabs*/
#trans-box{
	height: 500px;
	background-color: #4a4a4a;
	opacity:0.8;
}

/*white text*/
.p-background{
	color: #fff;
}


/*discover montserrat and whats on offer boxes*/
.box-title{
	padding: 17px;
	margin: 0px;
}

#box-one{
	max-width: 100%;
	background-image: url('/angular_holiday/assets/mont-volcano.jpg');
	background-repeat: no-repeat;
	background-size: cover;  
}

#box-two{
	width: 100%;
	background-image: url('/angular_holiday/assets/stPatrick.jpeg');
	background-repeat: no-repeat;
	background-size: cover;  
}

#box-three{
	width: 100%;
	background-image: url('/angular_holiday/assets/mont-patrick.jpg');
	background-repeat: no-repeat;
	background-size: cover;  	
}

#box-four{
	width: 100%;
	background-image: url('/angular_holiday/assets/hotel-room.jpg');
	background-repeat: no-repeat;
	background-size: cover;  	
}

#box-five{
	width: 100%;
	background-image: url('/angular_holiday/assets/coral.jpg');
	background-repeat: no-repeat;
	background-size: cover;  	
}

#box-six{
	width: 100%;
	background-image: url('/angular_holiday/assets/mont-night.jpeg');
	background-repeat: no-repeat;
	background-size: cover;  	
}

/*push title to bottom of box*/
.box{
	display: flex;
	flex-direction: column;
	height: 250px;
	margin-bottom: 25px;
}

.trans-small-box{
	margin-top: auto; 
	height: 50px;
	background-color: #4a4a4a;
	opacity:0.8;
}

/*on hover display box*/
.box-trans{
	background-color: #4a4a4a;
	opacity: 0.8;
	height:200px; 
	border-bottom: 1px solid #979797;
}

.box-trans > p{
	color: #fff;
	padding: 25px;
	align-self: center;
}

/*re-position box title*/
@media (min-width: 768px){
	.fit{
		padding: 10px;
	}
}
@media (min-width: 992px){
	.fit{
		padding: 17px;
	}
}


