<div class="row">
	<div class="col-md-8">

		<!--Create calculator form-->
		<form class="form-general" name='calculator' novalidate>
			<div class="row">
				<div class="col-md-12">		
					<h3 class="no-margin pad">Calculator
					</h3>
				</div>
			</div>
			<div class='row'>
				<div class="col-md-12">
					<p class='no-margin'>Please select the options that apply to you to receive an estimate on the final cost of your trip. 
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class='pad'>Flights
					</h4>
				</div>
			</div>

			<!--Airport selection (select menu)-->
			<div class="row">
				<div class="col-md-12">
	            	<div class="form-group">  		
						<p class="no-margin">Direct flights from the UK to Antigua depart from London Gatwick Airport only. If you would like to arrange your own travel to Gatwick just make Gatwick your selection.
						</p>
						<label for="airport">Select nearest airport:
						</label><br>
						<div class="col-xs-offset-1 col-md-offset-1">
							<select id='airport' data-ng-change='getTotal(); showPass();' data-ng-options="x.label group by x.country for x in airports" data-ng-model='selectedAirport' required>	
						</select>
					</div>
				</div>
			</div>
		</div>
	

			<!--Number of passengers (input number)-->
			<div ng-show='showPass()' class='animate'>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="passengers">Number of passengers:
							</label>
							<div class="row">
								<div class='col-xs-3 col-md-2 col-xs-offset-1 col-md-offset-1'>
									<input type="number" min='1' max='10' id="passengers" name="passengers" class="form-control" data-ng-init='passengers=1' data-ng-change='getTotal()' data-ng-model=passengers>
								</div>
							</div>
						</div>
		           	</div> 
		        </div>
	        
	        					
			<!--Select passenger class, (input radio)-->
		
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Passenger class:</label><br>
							<div class='col-xs-offset-1 col-md-offset-1' id='radio-pos'>
								<label>First Class:
									<input type='radio' data-ng-model='selectedClass' data-ng-click='getTotal(); showAccom();' value='first'>
								</label><br>
								<label>Business Class:
									<input type='radio' data-ng-model='selectedClass' data-ng-click='getTotal(); showAccom();' value='second'>
								</label><br>
								<label>Premium economy:
									<input type='radio' data-ng-model='selectedClass' data-ng-click='getTotal(); showAccom();' value='third'><br>
								</label><br>
								<label>Economy:
									<input type='radio' data-ng-model='selectedClass' data-ng-click='getTotal(); showAccom();' value='fourth'>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Select 	Accomodation-->	
			<div data-ng-show='showAccom()' class="animate">
				<div class="row">
					<div class="col-md-12">
						<h4 class='pad'>Accommodation
						</h4>
					</div>
				</div>

				<!--Number of bedrooms (input number)-->
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="bed">Number of bedrooms:
							</label>
							<div class="row">
								<div class="col-xs-3 col-md-2 col-xs-offset-1 col-md-offset-1">
									<input type="number" min='1' max='10' id='bed' name="bedrooms" class="form-control" data-ng-change='getTotal()' data-ng-init='bedrooms=1' data-ng-model=bedrooms>
								</div>
							</div>
						</div>
					</div>
				</div>
				

			<!--Accomodation type (select menu)-->
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="accom">Accommodation type</label><br>
							<div class="col-xs-offset-1 col-md-offset-1">
								<select id='accom' data-ng-change='getTotal(); showBoard();' data-ng-options='x.label for x in accommodation' data-ng-model='selectedAccom'>			
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Select board option (select menu)-->
			<div data-ng-show='showBoard()' class="animate">
				<div class="row">
					<div class="col-md-12">	
						<div class="form-group">
							<p class="no-margin">When it comes to how you want to eat on the island you have three options to choose from:<br><br>
							1. Breakfast included<br>
							2. Half board (breakfast and dinner included)<br>
							3. Self catering (No food or drink included)</p>
							<label for="group">Board option:</label>
							<div class="col-xs-offset-1 col-md-offset-1">
								<select id='group' class="margin-bottom-25" data-ng-options='x.label for x in board' data-ng-change='getTotal()' data-ng-model='selectedBoard'>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>	

			<!--Calculation = total-->
			<div class="row">
				<div class="col-md-12">
					<div data-ng-show='showAccom()'>
						<div data-ng-model='total' id="bottom">
							{{total | currency: '£'}}				
						</div>	
					</div>
				</div>
			</div>	
		</form>
	</div>
</div>
