.no-margin{
	margin: 0px;
}

.margin-bottom-25{
	margin-bottom: 25px; 
}

.pad{
	padding: 10px;
}

#bottom{
	padding: 50px;
	border-top: 1px solid #979797;
	border-bottom: 1px solid #979797;
	font-size: 20px;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px; 
}