<!--Title and title image-->
<emapp-page-title title='emappPageTitle'></emapp-page-title>

<!--Water activities intro-->
<div class=container>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="home-title">
				<h2>Beach and water activities</h2>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>For such a tiny island there is no shortage of beaches. We’ve listed a few here to give you an idea of the variety Montserrat has to offer.
				</p>
			</div>
		</div>
	</div>
	

	<!--Beaches with images-->
	<div class="row">
		<div class='col-xs-12 col-sm-4'>
			<div class="beach-box">
				<img src='assets/little-bay-beach.jpg' alt='little bay beach'/>
			</div>
			<p>Little Bay – The most popular beach on island for residents and visitors. Little Bay is a great spot to watch boats coming and going from the nearby port, enjoy a swim, or unwind with a drink at one of numerous beachside bars.</p>	
		</div>
	
		<div class='col-xs-12 col-sm-4'>
			<div class="beach-box">
				<img src='assets/Isle-bay-beach.jpg' alt='Isle bay beach'/>
			</div>
			<p>Isle Bay Beach/Old Road Bay – We have the volcano flows to thank for this extension of the beach. Take a trek from one end of the beach to the next and enjoy seeing how nature has destroyed and remade this lovely bit of coastline.</p>
		</div>
			

		<div class='col-xs-12 col-sm-4'>
			<div class="beach-box">
				<img src='assets/rendezvous-beach.jpg' alt='Rendezvous beach'/>
			</div>
			<p>Rendezvous Beach – Montserrat’s only white sand beach can be reached via a short boat ride from Little Bay or by a pretty intense one-hour hike. The reward is having a nice swim in a very secluded spot.</p>
		</div>
	</div>

	<hr>

<!--Big image of coral-->
	<div class="row">
		<div class="col-md-12">
			<div class="home-title left">
				<h2>Water Sports</h2>
			</div>
		</div>
	</div>
</div>
<div class='container-fluid'>	
	<div class="row">
		<div>
			<img class='big-image' src='assets/mont-coral.jpg' alt='coral-reef'/>
		</div>		
	</div>
</div>

<!--Water activities-->
<div class=container>
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div>
				<h3>Scuba diving</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>Montserrat is home to several top quality dive schools that offer dive training tours.
				Scuba divers here can enjoy <span class="snippet">uncrowded dives in pristine conditions.</span> Most dives are less
				than 60 feet deep and typical visibility is 80 feet.
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h3>Snorkeling</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>Snorkeling enthusiasts often note the <span class="snippet">exquisite beauty of the coral reefs</span> that are well-preserved and rich in Montserrat. Explore the warm Caribbean water, temperature on average is 28ºC / 82ºF. 
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h3>Spear fishing</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>Swim alongside trained experts as you get up close and personal with your targets. Using <span class="snippet">elastic powered spear guns</span> combine the fun of snorkelling with the challenge of underwater fishing. while perfecting your shooting technique as you hunt and catch your dinner. 
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h3>Shoreline fishing</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>Take in your surroundings as you relax on the shore, drink in hand, a bucket full of sprat and patiently wait for that tug at your line to <span class="snippet">reel the big one in!</span>
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-8 col-md-offset-1">
				<h3>Kayak and paddle board</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>The calm Caribbean sea and dramatic cliffs rising out of the water make <span class="snippet">kayak tours an amazing experience</span> while in Montserrat.
				</p>
			</div>
		</div>
	</div>
	<hr>

	<!--Island tours intro-->
	<div class="row">
		<div class="col-md-12">
			<div class="home-title left">
				<h2>Island Tours</h2>
			</div>
		</div>
	</div>
</div>

<div class='container-fluid'>	
	<div class="row">
		<div>
			<img src='assets/mont-bird.jpg' alt='bird'/>
		</div>
	</div>
</div>

<div class=container>
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<p>Explore the lush rainforest, Centre Hills with a knowledgeable guide and take in views of the land, sea and coastline. A chance to see the national bird, the Montserrat oriole, the shy bridled quail dove, the mangrove cuckoo and the trembler and purple throated carib to name a few. 
			</p>
			
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h3>Volcano Tours</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">	
			<p>The Soufriere Hills Volcano is <span class="snippet">one of the worlds only active volcano’s</span> that you can observe at close quarters safely. What was once the capital of Montserrat, Plymouth, now appears as a scattering of roofs and the top floors of the tallest buildings, just poking out from a landscape of ash and boulders. In what has been called a modern day Pompeii.
			</p>
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h3>Wildlife</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h4>Birds</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="text-left">
				<p>Montserrat is a <span class="snippet">bird lovers paradise.</span> 117 different bird species have been recored on the island some of which can be seen on the nature trails.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">	
			<hr>
			<h4>Bats</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>There are a number of species of bats which can be seen in there natural habitat by swimming to a cave they reside in. Snorkelers and divers alike can <span class="snippet">access the cave by swimming from a nearby beach</span> or more directly from a boat.
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<hr>
			<h4>Marine Life</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="text-left">
				<p><span class="snippet">Marine life is abundant</span> in the waters round Montserrat. There are hawksbill turtles, puffer fish, blennie, golden tail eel, squid, sea horse, sea turtles, flying gurnard, southern stingray, squid, angelfish, peacock flounder… and more. Dolphins, eagle rays, nurse sharks and pipefish are also seen in the waters.
				</p>
			</div>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h3>Hikes</h3>
		</div>
	</div>


	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>There are a number of <span class="snippet">world-class hiking trails available</span> to hikers in Montserrat. The hikes can be quite difficult but a great adventure. Hikers recently found ancient stone carvings dating back 1000 - 1500 years.
			Some hikes include visiting the ruins of abandoned villages as well as long forgotten banana plantations that still bare fruit.  
			</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">		
			<h3>Rum shop tour</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">	
			<p>One of the best ways to meet and mingle with the locals.<span class="snippet"> Our rum shop tour is exclusive to emerald travel guests.</span> Try the famous rum punch or enjoy any of the wide range in stocked drinks on the island.
			</p>
		</div>
	</div>
	<hr>

	<!--Culture and food intro-->
	<div class="row">
		<div class="col-md-12">
			<div class="home-title left">
				<h3>Culture and food</h3>
			</div>
		</div>
	</div>
</div>

<!--Big image night scene-->
<div class='container-fluid'>	
	<div class="row">
		<div>
			<img src='assets/mont-night.jpeg' alt='night life'/>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>The best way to explore the island’s culture, food and people is to travel trough the various parishes for a drink, eat or chill with the locals at the various rum shops restaurants and cafes across the island.
			</p>
		</div>
	</div>
	<hr>


	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h3>Food and drink</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">	
			<h4>Goat water</h4> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>The national dish of Montserrat is a delicious hearty stew served with crusty bread</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<hr>
			<h4>Salt fish</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>A popular dish throughout the Caribbean, this dish is a must try and a favourite amongst the locals</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<hr>
			<h4>Pumpkin soup</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>A creamy pumpkin soup made with fresh pumpkins.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<hr>
			<h4>Mountain chicken</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>For the more adventurous, this dish is not actually chicken, it's frogs legs.</p>
		</div>
	</div>
	<hr>

	<div class="row">	
		<div class="col-md-8 col-md-offset-1">
			<h3>Music</h3>
		</div>
	</div>

	<!--Youtube music-->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>Soca music is the national favourite and can be heard playing in many of the islands rum shops, bars cafe’s and clubs.</p>
		</div>
	</div>
	<div class="video">
		<iframe src="https://www.youtube.com/embed/el4ZwQPGSCg" width='350' height='200' frameborder="0" class="centred-p"></iframe>
	</div>
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>Past pop stars include the soca bandleader Alphonsus "Arrow" Cassell, known for 1983's worldwide hit "Hot! Hot! Hot!". Air Montserrat, the recording studio founded by Beatles producer Sir George Martin saw artists such as Sting, Eric Clapton, Paul McCartney, Elton John, Michael Jackson, Stevie Wonder, the Rolling Stones, Dire Straits and Lou Reed record there. 
			</p>
		</div>
	</div>
	<div class="video">
		<iframe src="https://www.youtube.com/embed/Zj-AUKT9tt8"  width='350' height="200" frameborder="0" class="centred-p"></iframe>
	</div>
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>Calypso music is also popular, as are the vocal choirs Voices and the Emerald Community Singers are well known throughout the island. 
			</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h3>Masquerade</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div>
				<p>The masquerade plays a large part of any celebration the Island has. Deeply rooted in the African culture, the colourful costumes and creative designes are a marvel to see.
				</p>
			</div>
		</div>
	</div>
	<hr>
</div>


<!--Links to forms etc-->
<div instruction></div>




