<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="home-title">
				<h1 class="centred-p">Emerald Travel Booking Conditions</h1>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<p class="centred-p">The following booking conditions form the basis of your contract with Emerald Travel.
                Please read them carefully as they set out your rights and obligations. Confirmation of your booking
                is subject to theses conditions, we are entitled to assume that you have read these booking conditions
                and agree to them.
            </p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h2>1. CONTRACTS</h2>
			<p>A contract is only entered into when Emerald Travel has issued a Holiday Confirmation Invoice.
                The Holiday Confirmation Invoice is issued once we have received your deposit payment accompanied
                with a completed and signed Booking Form. The Booking Form is essential in order for us to secure
                the necessary flights and accommodation.
            </p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>2. PAYMENTS AND BOOKING</h2>
			<p>An initial deposit of £300 per person is required together with the Booking Form. You will receive a
                confirmation invoice once your booking has been made. The balance payment is due 12 weeks before
                departure date. A staged payment plan can be agreed when booking.
            </p>
            <p>If you are booking within 12 weeks of the departure date the full amount is payable. If the monies are
                not paid in time, we reserve the right to cancel your holiday and apply the cancellation conditions as
                set out in Paragraph 7.
            </p>
            <p>We reserve the right at our discretion to decline any booking application.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>3. THE PACKAGE</h2>
			<p>The basic cost of your tailor made holiday includes:
            </p>
            <ul class="bullets">
				<li>Return travel from UK/Ireland to Montserrat, via Antigua.</li>
				<li>Transfers</li>
				<li>Antigua day tour</li>
				<li>Luxury Accommodation for 10 nights with breakfast</li>
                <li>Daily activities for the 10 night duration</li>
			</ul>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>4. TRAVEL</h2>
			<p>Flight date and time are fixed and detailed on your travel itinerary.</p>
            <p>Flights from London to Antigua are operated by Virgin Atlantic. Flights from Dublin to London are
                operated by Air Lingus. A ticket will be issued in the name of individual passengers on the booking.
                Conditions of carriage from the airline operator are transferred to ticket holders. Please review the
                relevant conditions prior to travel.
            </p>
            <p>
                Ferry from Antigua to Montserrat operates in conjuction with the Government of Montserrat. Terms and
                conditions for carriage of passengers and baggage are transferred to ticket holders. Please review
                prior to travel.
            </p>
            <p>
                Transfers include return travel from the St Johns airport, Antigua to Heritage Quay port, Antigua;
                return travel from Little Bay port, Montserrat to your accommodation and travel from your accommodation
                to activities specified in the Emerald Travel Montserrat itinerary.
            </p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h2>5. CANCELLATION BY YOU</h2>
			<p>You may cancel your holiday at any time, provided that the person signing the booking form confirms this
                in writing. Your cancellation is taken from the date we receive your letter or email
                (info@emeraldtravel.org).
			</p>
            <p>As cancellation incurs administrative costs and many suppliers require advance payments, we will apply
                cancellation charges.
            </p>
            <p>
               Cancellations made within 14 days of the booking date and at least 42 days in advance of the departure
                date will be 100% refunded. After this period booking deposit are non-refundable.
            </p>
            <p>
               Additional charges are applied for cancellations closer to departure.
            </p>
            <p>
                Cancellations made in the period 22 - 42 days before departure will incur 50% charge of the
                holiday price.
            </p>
            <p>
                Cancellations made within 21 days of departure will incur 100% charge of the holiday price.
            </p>
		</div>
	</div>
    <hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>6. CANCELLATIONS BY EMERALD TRAVEL</h2>
			<p>If in the unlikely event a trip cannot go ahead, cancellation may be made up to 12 weeks before
                departure. We may cancel a trip at any time prior to departure if, due to terrorism, natural disasters,
                political instability or other external events it is not viable for us to operate the planned
                itinerary. If we cancel your trip, you can receive a full refund. In circumstances where the
                cancellation is due to external events outside our reasonable control refunds will be less any
                unrecoverable costs. We are not responsible for any incidental expenses that you may have incurred as a
                result of your booking including but not limited to visas, vaccinations, travel insurance excess or
                non-refundable flights.
            </p>
            <p>Emerald Travel cannot be held responsible for any additional services which you book outside the terms
                of the Emerald Travel itinerary.
            </p>
		</div>
	</div>
	<hr>
    <div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>7. ALTERATIONS BY EMERALD TRAVEL</h2>
			<p>Occasionally we have to make changes for reasons of flight cancellations, schedule changes or
                ‘force majeure’. Except where otherwise expressly stated in these booking conditions, we cannot accept
                any liability or pay any compensation if we have to cancel or change your holiday for reasons of
                ‘force majeure’. In these booking conditions force majeure means any event which we or our suppliers
                could not, even with all due care, foresee or avoid. Such events may include war or threat of war,
                terrorist activity, industrial dispute, riot, natural or nuclear disaster, adverse weather conditions,
                fire, and similar events outside our control.
            </p>
            <p>If there is a minor alteration then we will try to notify you, though we are not obliged to do so, nor
                are we obliged to pay compensation.
            </p>
		</div>
	</div>
	<hr>
    <div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>8. SURCHARGES</h2>
			<p>We reserve the right to apply surcharges to our holiday prices only where we believe it is unavoidable
                and only in the event of: Governmental action, airport charges, aircraft fuel costs, or extreme
                currency fluctuations.
            </p>
            <p>
                Once we have sent you a Holiday Confirmation Invoice no surcharges will be made.
            </p>
		</div>
	</div>
	<hr>
    <div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>9. LIABILITY</h2>
			<p>
                We contract with a network of companies, government agencies and individuals to assist in the running
                of our holiday and some scheduled activities as agent for these third parties. We are not responsible
                for the acts and omissions of these third parties.
            </p>
		</div>
	</div>
	<hr>
    <div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>10. TRAVEL INSURANCE</h2>
			<p>
               It is an essential condition of you booking a holiday that you take out adequate holiday insurance
                covering any circumstances leading to the cancellation of your booking and providing sufficient
                medical cover for illness, injury and repatriation while overseas. You must provide us with the name
                of your insurers, your policy number and their 24-hour emergency contact number before you travel.
                Emerald Travel will not be liable for any costs incurred by you due to your failure to take out
                suitable travel or cancellation insurance from the date of booking.
            </p>
		</div>
	</div>
	<hr>
    <div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>11. COMPLAINTS</h2>
			<p>
               In the unlikely event that you have a complaint about any aspect of your holiday and in order that we
                have the opportunity to investigate any problems, all complaints must be made in writing directly to
                us within 28 days of your return to the UK. Complaints received after this time will not be accepted.
            </p>
            <p>
                Please quote your booking reference on your letter of complaint and enclose all necessary documents
                which you should post to:
            </p>
            <p>
                Emerald Travel<br>
                Cheap End, St Peters<br>
                Montserrat W.I.
            </p>
            <p>
                We cannot deal with any form of complaint verbally.
            </p>
		</div>
	</div>
	<hr>
    <div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>12. JURISDICTION</h2>
			<p>
               All matters arising from your contract with us are governed by Montserrat and English law and are
                subject to the exclusive jurisdiction of the English Courts.
            </p>
		</div>
	</div>
	<hr>
    <div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>13. SPECIAL REQUESTS</h2>
			<p>
               If you have special needs/allergies (e.g. dietary requirements, flight seat preference etc.) please let
                us know at the time of booking. Whilst we will make every effort to meet your requests we cannot
                guarantee these will be fulfilled.
            </p>
		</div>
	</div>
	<hr>
    <div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>14. YOUR RESPONSIBILITIES</h2>
			<p>
               You have certain responsibilities in relation to your booking, these are set out below. You are liable
                for these to the extent that you fail to perform them.
            </p>
            <p>
                Documentation. You must ensure that you have all the necessary documentation to complete your journey.
                Travellers should ensure they have sufficient pages for entry and exit stamps and ensure passports
                are valid for at least six months after the scheduled return date. Non-UK passport holders must check
                passport and visa requirements for travel to Montserrat. The names that appear on your airline tickets
                should be the same as the names in your passport. It may not be possible to change the name(s) on your
                flight reservation, when possible you may incur charges.
            <p/>
            <p>
                Transportation. You must ensure that you arrive in good time for your departure flights and all
                scheduled transfers.
            </p>
            <p>
               Security and Safety. You must seek your own advice regarding safety and security: before you travel
                overseas, check the Foreign and Commonwealth website for essential travel advice,
                tips and up-to-date country information. www.fco.gov.uk.
            </p>
		</div>
	</div>
	<hr>
    <div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>15. CHANGES AFTER THE BOOKING</h2>
			<p>
               We are happy to consider reasonable request for changes to your booking however this may not always be
                possible and there are some costs which may not be recoverable. Please contact us in writing if you do
                wish to make changes. An administration charge may apply as well as any additional costs of the new
                arrangements.
            </p>
		</div>
	</div>
	<hr>
    <div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>16. TERMS AND CONDITIONS CLAUSE</h2>
			<p>
               For our up-to-date Booking Conditions please visit our website. Emerald Travel reserves the right to amend the Terms and Conditions at any time as is necessary.
                Emerald Travel Registered office address: Cheap End, St Peters, Montserrat, W.I.
            </p>
		</div>
	</div>
	<hr>
	</div>