<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="home-title">
				<h1 class="centred-p">Our Services</h1>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<p class="centred-p">Emerald Travel MONTSERRAT aim to promote the beauty, nature and culture within the
                Caribbean island of Montserrat. We offer tailor made package holidays for travellers searching for
                unique Caribbean culture, natural flora and fauna, the ability to explore an active volcano and St
                Patricks festivities.
            </p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h2>The Package</h2>
			<ul class="bullets">
				<li>10 nights inclusive Caribbean experience in Montserrat during the St Patricks day celebrations.
                <li>Travelling from 8th March – 18th March 2019.</li>
                </li>
				<li>Return travel from UK/Ireland to Montserrat, via Antigua.</li>
				<li>Transfers</li>
				<li>Day trip in Antigua</li>
				<li>Luxury Bed & Breakfast Accommodation</li>
                <li>10 daily activities to explore and experience the island, the volcano and the people</li>
                <li>Beach BBQ finale</li>
			</ul>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>Price</h2>
			<p>We are competitively priced.
            </p>
            <p>For those travelling from the UK, the total cost of the package per person is £1900. A discounted rate
                is offered for two persons sharing a room at a total cost of £1700 per person.
            </p>
            <p>For those travelling from Ireland, the total cost of the package per person is £2000. A discounted rate
                is offered for two persons sharing a room at a total cost of £1800 per person.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>Accomodation</h2>
			<p>The package is inclusive of an ensuite double room within a luxury villa per traveller, unless booked
                as two persons sharing. Daily breakfast is included. Villas include communal living room, kitchen,
                with self-catering facilities and swimming pool.
            </p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
            <h2>Why Travel with us</h2>
			<p>Please read Emerald Travel Terms and Conditions.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h2>Meet and Greet</h2>
			<p>Montserrat is not a destination that you come across at your high street travel agent. Travel to get to
                Montserrat, accommodation and activities need to be researched and separately booked. Time is of the
                essence these days, we offer a one stop service to provide a complete package holiday.
			</p>
            <p>Your holiday is packaged with a personal touch to meet your individual needs. With a passion,
                knowledge and experience of the island we cater to your needs as an explorer new to the island of
                Montserrat. We have connected with residents on the island to offer a variety of invigorating
                activities and piece together the best holiday in Montserrat suited for a variety of holiday makers.
                You will be entertained, intrigued and assured that you are in good hands with Emerald Travel
                MONTSERRAT.</p>
		</div>
	</div>
	<hr>
</div>